.list-item {
  list-style-type: none;
  color: white;
  border: 1px solid #64748b;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  align-items: center;
  padding: 15px;
  margin-right: 15px;
}

.first-letter {
  background-color: #0ea5e9;
  padding: 30px;
  border-radius: 20px;
  color: white;
  padding: 15px;
}

.para-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.para {
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  margin-left: 7px;
  margin-bottom: 10px;
}

.delete-image {
  height: 25px;
  align-self: flex-end;
}

.stars {
  height: 20px;
}

.button-container {
  background-color: transparent;
  border: none;
}
